<div id="show_data">
  <%= form_with url: search_image_path, method: :post, remote: true do |form| %>
    <label>Search Image</label>
    <%=form.text_field :image_text%>
    <br>
    <%= form.submit 'Submit'%>
  <% end %>
  <br>
  <br>
  <%if @image_url.present? %>
  <% @image_url.each do |i_url| %>
    <%= image_tag(i_url.src["original"], style: 'height:100px:%;width:100px;') %>
  <% end %>
    <%end %>

  <%= form_with url: search_video_path, method: :post, remote: true do |form| %>
    <label>Search Video</label>
    <%=form.text_field :video_text%>
    <br>
    <%= form.submit 'Submit'%>
  <% end %>
  <br>
  <br>
  <%if @video_url.present? %>
    <% @video_url.each do |v_url| %>
      <%= video_tag v_url, controls: true, width: 340, height: 160 %>
<% end %>
  <%end %>
</div>




