
<% if user_signed_in? %>
  <div> Welcome <%= current_user.email %> </div>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
<h1>Hello DigitalOcean!</h1>
<%= link_to 'Text to Speech portal',  text_to_speech_index_path %>
<%= render "projects/form",project:Project.new,class: 'position-relative'%>
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="fw-light">Half Page Image Slider</h1>
    <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images
      in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
  </div>
</section>

