<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <button type="button" class="position-absolute btn rounded btn-lg modal_buttons project-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create Project
    </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-light">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Project</h5>
          <button type="button" class="btn-close ps-5" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name, class: "form-control form-control-lg w-100"%>
            <br>
          </div>
          <div>
            <%= form.hidden_field :user_id,value:current_user.id %>
          </div>
          <div class="modal-footer col-md-12">
            <%= form.submit class: 'btn btn-dark mt-3',style: 'display:center ' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

