<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control form-control-lg w-100" %>
    <br>
  </div>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="modal-footer col-md-12">
    <%= form.submit class: 'btn btn-dark mt-3', style: 'display:center ' %>
  </div>
<% end %>
